.header {
  background-color: var(--code-bg);
  padding: 20px;
  color: var(--text-h);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  height: 40px;
  margin-right: 20px;
}
